data/**
irb/
docs/

.R*

# Google Sheets files
**/*.gdoc
**/*.gsheet

# code from Andrew/Saul, already tracked
connectome/
.Rproj.user

# backed-up files
**/~$**
.DS_Store

code/modeling/results/
code/modeling/subsets/

# Files with data
**/*.csv
**/*.rds
**/*.zip