data/**
irb/

.R*

# Google Sheets files
**/*.gdoc
**/*.gsheet

# code from Andrew/Saul, already tracked
connectome/
.Rproj.user

# backed-up files
**/~$**
.DS_Store

code/modeling/results/
code/modeling/subsets/